body {
    font-family: "freight-sans-pro-n7, freight-sans-pro",sans-serif;
    margin: 0;
    /*background-color: #eaf4f6;*/
    font-size: 12px;
    font-style: normal;
    /*color: #787976;*/
    font-weight: 500;
    minimum-width: 400px;
}

.topBar {
    background-image: url("../images/bar-bg.png");
    background-repeat: repeat-x;
    background-position: top;
    display: block;
    height: 22px;
    line-height: 21px;
    width: 100%;
    padding: 0px 5px;
    border-bottom: 1px #dddddd solid;
    color: #687c85;
    font-size: 10px;
}

.workList {
    width: 100%
}

.bubble {
    position: relative;
    width: 100%;
    height: 110px;
    padding: 0px;
    background: #00aced;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    border-radius: 37px;
    margin-bottom: 50px;
}

.bubble:after {
    content: "";
    position: absolute;
    bottom: -36px;
    left: 39px;
    border-style: solid;
    border-width: 36px 13px 0;
    border-color: #00aced transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.form-signin {
    max-width: 360px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .capsule {
    padding: 20px 30px;
}