<table class="agentInfo">
    <tr>
        <td class="name">
            <span>{{ agent.fullName }}</span>
        </td>
        <td>
           <agent-state></agent-state>
        </td>
    </tr>
    <tr>
       <td colspan="2">
           {{ agent.defaultWorkPhone }}
       </td>
    </tr>
</table>
