
<form class="form-signin" role="form" ng-submit="doLogin()">
    <div class="bubble">

        <div class="capsule">
            <img src="../images/liveops-logo.png">
        </div>
    </div>

    <input type="text" class="form-control" ng-model="login.username" placeholder="Username" required autofocus>
    <input type="password" class="form-control" ng-model="login.password" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Go online</button>
</form>